

.top-bar {
    background-color: var(--color-secondary-dark);
    color: var(--color-white);
    padding: 1rem 0;
    font-size: 0.9rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.top-bar.white-bg {
    background-color: var(--color-white);
    color: var(--color-text-dark);
}

.top-bar .container {
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-address {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.sirene-icon {
    height: 30px;
    width: auto;
    margin-right: 5px;
}

.logo {
    font-size: 1.2rem;
    font-weight: 700;
}

.logo-phone {
    color: var(--color-accent);
    border: 1px solid var(--color-accent);
    padding: 2px 5px;
    border-radius: 4px;
    margin-left: 5px;
    font-weight: 700;
}



.main-nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

.main-nav ul {
    display: flex;
    gap: 20px;
}

.main-nav a {
    color: var(--color-text-dark);
}

.main-nav a:hover {
    color: var(--color-accent);
}

.btn-login {
    border: 1px solid var(--color-white);
    padding: 8px 16px;
    border-radius: 5px;
    color: var(--color-white);
}

.btn-login.dark-border {
    border-color: var(--color-text-dark);
    color: var(--color-text-dark);
}

.btn-login.dark-border:hover {
    background-color: var(--color-light);
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
